body {
    margin: 0;
}

* {
    font-family: "Open Sans", sans-serif;
}
.container {
    display: grid;
    max-width: 840px;
    margin: auto;
    height: 100vh;
    grid-gap: 2px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1.6fr 1fr 1fr  0.2fr;
    grid-template-areas: 
    "header nav"
    "main main"
    "project project"
    "skills skills"
    "footer footer";
}

.container * {
    padding-left: 5px;
}

header {
    grid-area: header;
}
nav {
    grid-area:nav;
    text-align: right;
    padding-right: 10px;
}
main {
    grid-area: main;;
    text-align: justify;
}


.projects {
    grid-area: project;
}
.skills {
    display: flex;
    align-items: center;
    grid-area: skills;
    
    flex-wrap: wrap;
}
footer{
    grid-area: footer;
    text-align: center;
    font-size: 0.8rem;
    
}

h1 {
    font-size: 1.3rem;
}

nav li {
    list-style-type: none;
    display: inline;
    text-decoration: none;
    
}
nav li a {
    color: black;
}

.projects li a {
    text-decoration: none;
    color: black;
    font-weight:bold;
}

a:link {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
a:hover {
    text-decoration: none;
    
}
main img {
    width: 250px;
    border-radius: 10%;
    float: right;
    margin: 20px 0 0 20px;
}

.skills img {
    width: 40px;
}

@media only screen and (max-width: 700px){
    .container {
        display: grid;
        margin: auto;
        grid-gap: 2px;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.2fr 1.6fr 1fr 0.5fr 0.2fr;
        grid-template-areas: 
        "header"
        "nav"
        "main"
        "skills"
        "projects"
        "footer"
        }

    header {
        grid-area: header;
        text-align: center;
    }
    nav {
        grid-area: nav;
        text-align: center;
    }
    main {
        grid-area: main;

    }
    .skills {
        grid-area: skills;

    }
    .projects {
        grid-area: projects;
    }
    footer {
        grid-area: footer;
    }
    
}
.contact {
    width: 50px;
    float: left;
}

img {
    
}